.redb {
  color: #d83c2d;
  font-weight: 600;
}

.navBar {
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
  background-color: #1895f5;
  display: flex;
  justify-content: center;
}

.navBar > .topNav {
  width: 100%;
  justify-content: center;
  display: flex;
  color: white;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  padding-bottom: 3px;
}

.navBar > .topNav > div {
  border-style: solid;
  margin: 3px;
  border-width: 0 1px 0 0px;
  border-color: rgba(255, 255, 255, 0.15);
}

.topNav > .iconNav {
  padding: 10px 8px 10px 8px;
  display: flex;
  flex-direction: column;
}
.iconHoverRed {
  padding: 3px;
}

.iconHoverRed:hover {
  border-color: tomato;
  background-color: tomato;
  color: white;

  border-radius: 50%;
}

.topNav .searchNav {
  width: 95%;
  outline: none;
  padding: 15px;

  padding-right: 80px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
}

.guestModal {
  outline: none;
  margin-top: 100px;
}

.guestContainer {
  background-color: white;
  color: #b3b3b3;
  width: 100%;
  max-width: 680px;
  border-radius: 10px 10px 0 0;
  margin: 0 auto;
}

.guestCloseButton {
  padding: 10px 10px 0 10px;
}

.guestCloseButton:hover {
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

.guestModalHeader {
  display: flex;
  flex-direction: row;
  font-weight: 700;
}

.guestModalHeader > div {
  flex: 1;
  text-align: center;
  padding: 10px;
  margin: 20px;
}

.guestModalHeader > div:hover {
  cursor: pointer;
  color: #1895f5;
  border-style: solid;
  border-width: 0 0 1px 0;
  transition: 0.3s;
}

.guestModalNotClick {
  color: #b3b3b3;
  border-style: solid;
  border-width: 0 0 1px 0;
}

.guestModalClick {
  color: #1895f5;
  border-style: solid;
  border-width: 0 0 1px 0;
  transition: 0.3s;
}

.searchBox {
  position: relative;
  width: 100%;
  display: flex;
  flex: auto;
}

.searchIcon {
  position: absolute;
  right: 1px;
  top: 2px;
  background-color: #1895f5;
  border-radius: 5px;
  padding: 8px 15px 8px 15px;
}

.searchResField {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  left: 0;
  background-color: white;
  border-width: 2px;
  display: flex;
  align-items: center;
  position: relative;
  border-style: solid;
  border-radius: 20px;
  width: 90%;
  margin: 10px;
  border-color: #e4e4e4;
}

.cartCount {
  vertical-align: top;
  position: absolute;
  top: 1px;
  margin-left: 18px;
  color: white;
  background-color: #d83c2d;
  border-radius: 30px;
  width: 20px;
  height: 20px;
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  pointer-events: none;
}

.cartHead {
  font-weight: 600;
  border-style: solid;
  border-width: 0 0 1px 0;
  border-color: #e4e4e4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.productInCart {
  border-style: solid;
  border-color: #e4e4e4;
  border-width: 0 0 2px 0;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  padding: 10px;
  margin-top: -10px;
  width: 100%;
  height: 95px;
}

.productInCart > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: auto;
}

.productInCartInfo {
  line-height: 16px;
  min-height: 30px;
  margin: 5px;
  margin-top: -20px;
}
.productInCartInfo > .InCartTitle {
  max-width: 161px;
}

.productInCartInfo > h5 {
  word-wrap: break-word;

  margin-bottom: -15px;
}

.loginBack {
  background-color: black;
  color: white;
  height: 400px;
  width: auto;
  text-align: center;
  justify-content: center;
}

.loginBack > div {
  position: relative;
  padding-top: 200px;
}

.headerRegister {
  padding-top: 20px;
  padding-bottom: 5px;
  margin-top: 25px;
  z-index: 1;
  background-color: #1895f5;
  color: white;
  width: 100%;
}

.headerRegister > * {
  padding-left: 20px;
}

.headerHome {
  display: flex;
  justify-content: right;
  padding-top: 45px;
  margin-bottom: -40px;
}
.headerHome > div {
  margin-right: 12%;
  color: rgb(216, 216, 216);
}

.headerHome > div > * {
  font-size: 30px;
}

.headerHome > div > *:hover {
  color: #333435;
  transition: 0.3s;
}

.titleWrap {
  margin-top: -1px;
  width: 180px;
  max-width: 94%;
  word-wrap: break-word;
  margin-bottom: -1px;
  color: #333435;
  font-size: 15px;
  font-weight: 600;
  margin: 5px 0;
  min-height: 60px;
  line-height: 20px;
}

.titleWrap:hover {
  cursor: pointer;
  color: #3595f6;
}

.currentClickStyle {
  color: #3595f6;
  background-color: #d1eafd;
  font-size: 60px;
}

.currentHoverStyle:hover {
  color: #3595f6;
  background-color: #d1eafd;
  font-size: 60px;
}

.disabledButton {
  color: #333435;
  border-color: #333435;
  border-style: solid;
  font-family: Prompt, sans-serif;
  font-weight: 900;
  background-color: white;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  opacity: 50%;
}

.modal {
  display: hidden;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-y: scroll;
}

.colorModalContent {
  z-index: 2;
  margin: 0 auto;
  display: block;
  top: 140px;
  background-color: #333435;
  color: white;
  width: 300px;
  height: auto;
  padding-bottom: 30px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filterBox {
  border-style: solid;
  border-color: #e6e8eb;
  background-color: white;
  border-radius: 20px;
  margin-top: 30px;
  padding: 10px;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 8%);
}

.filterBox > .header {
  border-style: solid;
  border-color: #e6e8eb;
  border-width: 0 0 2px 0;
  line-height: 24px;
  min-height: 36px;
}

.filterBox > label > .headerRes {
  display: flex;

  justify-content: space-between;

  font-weight: 600;
  width: 100%;
}

.radioGroup {
  margin-top: -10px;
  margin-bottom: -10px;
}

.radioGroup input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radioGroup label {
  display: inline-block;
  padding: 3px 5px;
  margin-right: 3px;
  margin-top: 5px;
  font-family: Prompt, sans-serif;
  font-size: 12px;
  font-weight: 600;
  border: 1px solid #545454;
  border-radius: 4px;
}

.radioGroup input[type="radio"]:checked + label {
  color: white;
  background-color: #545454;
  border-color: #545454;
}

.radioGroup input[type="radio"]:hover + label {
  cursor: pointer;
  color: white;
  background-color: #545454;
  border-color: #545454;
}
.plusMinus * {
  outline: none;
}

.plusMinus > h4 {
  margin-bottom: 5px;
}

.plusMinusQuantity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20%;
  border-style: solid;
  border-color: #ebebeb;
  border-width: 2px;
  border-radius: 10px;
  font-weight: 900;
  font-size: 16px;
  margin-bottom: 25px;
  padding: 10px 15px;
  text-align: center;
}

.plusMinusQuantity > * {
  flex: auto;
}

.minusButton:hover,
.plusButton:hover {
  cursor: pointer;
}

.infoBox {
  display: flex;
  flex-flow: row wrap;
  border-style: solid;
  border-width: 0.1px 0 0.1px 0;
  border-color: #ebebeb;
  color: #666666;
  font-size: 16px;
}

.infoBox:hover {
  transition-duration: 0.5s;
  cursor: pointer;
  color: #3595f6;
}

.infoText {
  text-align: right;
  width: 55%;
}

.plusIcon {
  text-align: right;

  width: 40%;
}

.infoShow,
.commentShow {
  color: #666666;

  font-size: 14px;
}

.infoShow {
  padding-left: 35px;
  padding-right: 35px;
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

#infoProduct:checked ~ .infoShow {
  max-height: 100vh;
}

.commentShow {
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease-in-out;
}

#commentsProduct:checked ~ .commentShow {
  max-height: 100%;
  height: auto;
}

.commentBox {
  border-style: solid;
  border-width: 0 0 0.1px 0;
  border-color: #ebebeb;
  color: #666666;
}

.userCard {
  width: 90%;
  border-style: solid;
  border-width: 0 0 0.5px 0.5px;
  font-weight: 500;
  border-color: #545454;
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.footer {
  position: relative;

  bottom: 0;
  left: 0;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 8%);
  margin: 0;
  padding: 0;
  background-color: #333435;
  color: white;
  width: 100%;
}

.footer > .footerContent {
  text-align: center;

  font-weight: 100;
}

.notFoundPage {
  color: #181818;
  font-family: Prompt, sans-serif;
}

.goHomeButton {
  background: #1895f5;
  color: white;
  padding: 20px;
  margin-top: 10px;
  border-style: solid;
  border-radius: 10px;
  font-size: 20px;
  border-color: #1895f5;
}

.goHomeButton:hover {
  cursor: pointer;
  color: #1895f5;
  background-color: black;
  transition: 0.5s;
}

.dialogHeader {
  padding-left: 25px;
  font-size: 28px;
}

.IconInMenu {
  float: right;
  margin-right: 25px;
  font-size: 21px;
  padding-left: 20px;
  padding-right: 20px;
}

.menuShow {
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.menuShow > * {
  padding: 5px;
}

#showProfileMenu:checked ~ .menuShow {
  max-height: 100vh;
}

.typeHidden {
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease-in-out;
}

#infoFilter:checked ~ .typeHidden {
  max-height: 1000px;
}

.hoverImage {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.textInHoverImage {
  padding: 10px;
  border-style: none;
  border-radius: 5px;
  text-align: center;
  background-color: #202020;
  color: white;
}

.imageContainer {
  position: relative;
}

.imageContainer:hover .hoverImage {
  opacity: 1;
}

.imageContainer:hover .imageProduct {
  opacity: 0.6;
}

.imageProduct {
  max-width: 170px;
  height: 170px;
  transition: 0.3s;
}
.imageProduct2 {
  max-width: 135px;
  height: auto;
  transition: 0.3s;
  width: 100%;
}

.homeContainer {
  padding: 30px;
  margin-top: 30px;
  padding-top: 50px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 30px rgb(0 0 0 / 8%);
}
.hoverChangeBackground {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.hoverChangeBackground:hover {
  cursor: pointer;
  color: #1895f5;
  background-color: #f0f8f9;
}

.clickChangeBackground {
  cursor: pointer;
  color: #1895f5;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  background-color: #f0f8f9;
}

.profileBox {
  padding: 40px;
  margin-top: 30px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 30px rgb(0 0 0 / 8%);
}

.profileBox > .headerProfileBox {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.profileBox > .profileContent {
  margin-top: 30px;
  padding: 40px;
  border-style: solid;
  border-radius: 10px 10px 0 0;
  border-color: #d8d8d8;
  border-width: 1px;
  display: flex;
  flex-direction: column;
}

.profileContent > div {
  display: flex;
  font-size: 16px;
  margin-bottom: 30px;
}

.profileContent span {
  color: #333435;
  font-weight: 600;
  line-height: 20px;
  word-break: break-all;
}

.profileBox > .editBox {
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-radius: 0 0 10px 10px;
  border-color: #d8d8d8;
  background-color: #fafafa;
  padding: 20px;
}

.profileBox > .editBox > label {
  color: #1895f5;
  font-weight: 900;
  display: flex;

  align-items: center;
}

.profileBox > .editBox > label > span {
  padding: 3px;
}

.profileBox > .editBox > label:hover {
  color: #333435;
  cursor: pointer;
  transition: 0.3s;
}
.contactFooterContainer {
  padding: 10px;
  background-color: #d1eafd;

  display: flex;
  justify-content: center;
  flex-direction: row;
}

.contactFooterContainer > div {
  padding: 50px;
}

.sitFooter {
  align-items: center;
  text-align: center;
  margin-bottom: 150px;
}

.roleButton {
  padding: 8px;
  font-size: 16px;
  border-style: solid;
  border-radius: 25px;
  border-width: 3px;
  color: #1895f5;
  background-color: white;
  border-color: #1895f5;
}

.roleButton:hover {
  cursor: pointer;
  transition: 0.2s;
  color: white;
  background-color: #1895f5;
  border-color: #1895f5;
}

.MemberCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  border-width: 4px;
  padding: 10px;
  padding-bottom: 50px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
}
.MemberCard > div {
  flex: 1;
  font-weight: 600;
}

.menuProfile {
  padding: 20px;
  font-size: 13px;
  margin-top: 20px;
  background-color: white;
  box-shadow: 0px 0px 30px rgb(0 0 0 / 8%);
  border-radius: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 0;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.orderTable {
  width: 100%;
  border-style: solid;
  border-color: #e4e4e4;
  border-width: 2px;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 30px;
  font-size: 15px;
  margin-bottom: 20px;
}

.orderTableHeader {
  background-color: #fafafa;
  width: 100%;
}
.orderTableHeader > tr > th,
td {
  border-style: solid;
  border-color: #e4e4e4;
  border-width: 0 0 1px 0;
  padding: 20px;
  outline: none;
}

.orderDetailContainer {
  border-style: solid;
  border-color: #e4e4e4;
  border-radius: 10px;
  border-width: 2px;
  width: 100%;
}

.roundContainer {
  border-style: solid;
  border-color: #e4e4e4;
  border-radius: 10px;
}

.filterFullItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  margin-top: -5px;
  margin-bottom: -5px;
}

.filterFullItem:hover {
  background-color: #f0f8f9;
}

.dialogContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-top: 80px;
  z-index: 2;
}

@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100;
  }
}

.responseDialog {
  margin-top: 10px;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  border-style: solid;
  border-color: #ebebeb;
  border-radius: 15px;
  border-width: 2px;
  max-width: 425px;
  width: auto;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 8%);
  animation: fadeinout 8s linear forwards;
  -webkit-animation: fadeinout 8s linear forwards;
  -moz-animation: fadeinout 8s linear forwards;
  -o-animation: fadeinout 8s linear forwards;
  -ms-animation: fadeinout 8s linear forwards;
}

.rightResDialog {
  left: 63%;
}
@media (max-width: 1024px) {
  .rightResDialog {
    left: 40%;
  }
}

@media (max-width: 768px) {
  .rightResDialog {
    left: 22%;
  }
}
@media (max-width: 767px) {
  .rightResDialog {
    margin: 0 auto;
    left: 0%;
  }
}

.arrowIcon {
  color: white;
  border-style: solid;
  border-radius: 50%;
  border-color: #1895f5;
  background-color: #1895f5;
  border-width: 3px;
  font-size: 30px;
  position: fixed;
  right: 1%;
  bottom: 2%;
  z-index: 1;
  animation: fadein 1s;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -o-animation: fadein 1s;
  -ms-animation: fadein 1s;
}

.hoverBlack {
  color: #dcdcdc;
}
.hoverBlack:hover {
  color: red;
  transition: 0.3s;
  cursor: pointer;
}

.headerWithUnderline {
  font-size: 24px;
  font-weight: 600;
  width: 100%;
  border-color: #545454;
  border-width: 0 0 2px 0;
  border-style: solid;
  padding-bottom: 20px;
  margin-top: -10px;
  margin-bottom: 20px;
}
