@import url(https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap);

body {
  background-image: url(./images/body-bg.jpg);
  font-family: Prompt, sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #000000a3;
  border-radius: 10px;
}

.pageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pageContainer > .pageContent {
  flex: 1;
  padding-top: 60px;
  padding-bottom: 100px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.link {
  text-decoration: none;
}

.link:visited {
  color: black;
}

.hoverCursor:hover {
  cursor: pointer;
}

.underlineHover:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hoverChangeToNavBarColor:hover {
  cursor: pointer;
  color: #1895f5;
}

.text-center {
  text-align: center;
}

.alignCenter {
  align-content: center;
}

.h-30 {
  height: 30px;
}

.f13 {
  font-size: 13px;
}

.f15 {
  font-size: 15px;
}

.f16 {
  font-size: 16px;
}
.f17 {
  font-size: 17px;
}

.f18 {
  font-size: 18px;
}
.f20 {
  font-size: 20px;
}

.f22 {
  font-size: 22px;
}

.f23 {
  font-size: 23px;
}

.f24 {
  font-size: 24px;
}

.b {
  font-weight: 900;
}
.p-6 {
  padding: 6px;
}

.p-8 {
  padding: 8px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 20px;
}

.pr-0 {
  padding-right: 0;
}

.pr-10 {
  padding-right: 10px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-50 {
  padding-right: 50px;
}
.w40 {
  width: 40%;
}

.w50 {
  width: 50%;
}

.w100 {
  width: 100%;
}

.mw100 {
  max-width: 100%;
}

.m-5 {
  margin: 5px;
}

.mt-20 {
  margin-top: 20px;
}

.flex-1 {
  flex: 1;
}

.dialogButtonZone {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.InfoButton {
  color: #7bcb34;
  border-color: #7bcb34;
  border-style: solid;
  border-width: 2px;
  font-weight: 900;
  font-family: Prompt, sans-serif;
  background-color: #d1eafd;
  border-radius: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 5px;
}

.InfoButton:hover {
  cursor: pointer;
  color: #d1eafd;
  border-color: #7bcb34;
  border-style: solid;
  transition-duration: 0.5s;
  background-color: #7bcb34;
}

.delFromCart {
  width: auto;
  color: #d83c2d;
  background-color: #ffccbb;
  border-color: #d83c2d;
  border-style: solid;
  border-radius: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 5px;
  font-family: Prompt, sans-serif;
  border-width: 2px;
  font-weight: 600;
}

.delFromCart:hover {
  color: #ffccbb;
  background-color: #d83c2d;
  cursor: pointer;
  transition: 0.5s;
}

.AddButton {
  border-width: 2px;
  color: #3595f6;
  border-color: #3595f6;
  border-style: solid;
  font-family: Prompt, sans-serif;
  font-weight: 900;
  background-color: #d1eafd;
  border-radius: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 5px;
}

.AddButton:hover {
  cursor: pointer;
  color: #d1eafd;
  border-color: #3595f6;
  border-style: solid;
  transition-duration: 0.5s;
  background-color: #3595f6;
}

.roundBorder {
  border-style: solid;
  border-radius: 10px;
  border-color: #ebebeb;
  border-width: 2px;
  padding: 20px;
  margin: 20px;
}
