@import url(https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap);

body {
  background-image: url(./images/body-bg.jpg);
  font-family: Prompt, sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: 0 0 5px #d4d4d4;
}
::-webkit-scrollbar-thumb {
  background: #000000a3;
}

.pageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pageContainer > .pageContent {
  flex: 1;
  padding-top: 60px;
  padding-bottom: 100px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.link {
  text-decoration: none;
}

.link:visited {
  color: black;
}

.hoverCursor:hover {
  cursor: pointer;
}

.underlineHover:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hoverChangeToNavBarColor:hover {
  cursor: pointer;
  color: #1895f5;
}

.f13 {
  font-size: 13px;
}

.f15 {
  font-size: 15px;
}

.f16 {
  font-size: 16px;
}
.f17 {
  font-size: 17px;
}

.f18 {
  font-size: 18px;
}
.f20 {
  font-size: 20px;
}

.f22 {
  font-size: 22px;
}

.f23 {
  font-size: 23px;
}

.f24 {
  font-size: 24px;
}

.b {
  font-weight: 900;
}

.p-8 {
  padding: 8px;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 20px;
}

.pr-0 {
  padding-right: 0;
}

.pr-10 {
  padding-right: 10px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-50 {
  padding-right: 50px;
}
.w100 {
  width: 100%;
}

.mw100 {
  max-width: 100%;
}

.m-5 {
  margin: 5px;
}

.dialogButtonZone {
  display: flex;
  flex-direction: row;
  justify-content: right;
}
