@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');


body {
background-color:  #202020;
font-family: 'Prompt', sans-serif;
} 

.underlineHover:hover {

text-decoration: underline;
cursor : pointer;
}

.loginBack {

background-color: black;
color :white;
height: 400px;
width :auto;
text-align: center;
justify-content: center;
}


.loginBack > div {

position: relative;
padding-top: 200px;
}

.headerRegister {
padding-top: 20px;
padding-bottom: 5px;
margin-top: 20px;
z-index: 999;
background-color: #181818;
color : white;
width :100%;
border-radius: 15px;
}

.headerRegister > * {
    padding-left: 20px;
}




.titleWrap {
  margin-top: -1px;;
  width: 180px; 
  max-width: 94%;
  word-wrap : break-word;
  margin-bottom: -1px;
  color: #333435;
  font-size: 15px;
  font-weight: 600;
  margin: 5px 0;
  min-height: 60px;
  line-height: 18px;
}


.titleWrap:hover{
    cursor: pointer;
    color : #3595f6;


}


.AddButton {

color: #3595f6;
border-color: #3595f6;
border-style: solid;
font-family: 'Prompt', sans-serif;
font-weight: 900;
background-color: #d1eafd;
border-radius: 5px;
padding-top: 5px;
padding-bottom: 5px;
margin-bottom: 5px;
}

.AddButton:hover {
cursor: pointer;
color: #d1eafd;
border-color: #d1eafd;
border-style: solid;
transition-duration: 0.5s;
background-color: #3595f6;
}


.InfoButton {
color: #7bcb34;
border-color: #7bcb34;
border-style: solid;

font-weight: 900;
font-family: 'Prompt', sans-serif;
background-color: #d1eafd;
border-radius: 5px;
padding-top: 5px;
padding-bottom: 5px;
margin-bottom: 5px;
}

.InfoButton:hover {
    cursor: pointer;
    color: #d1eafd;
    border-color: #d1eafd;
    border-style: solid;
    transition-duration: 0.5s;
    background-color: #7bcb34;
    }


.filterBox {
    border-style:solid;
    border-color: #e6e8eb;
    background-color : white;
    border-radius: 5%;
    margin-top: 30px;
    padding : 10px;
    

}


.filterBox > .header {
border-style: solid;
border-color : #e6e8eb;
border-width: 0 0 2px 0;
line-height: 24px;
min-height: 36px;

}    


.checkBoxContent {

display: grid;

}


.plusMinus > h4{

margin-bottom: 5px;
}


.plusMinusQuantity {
display : flex;
flex-direction: row;
justify-content: center;
align-items: center;
width : 15%;
border-style: solid;
border-color : #ebebeb;
border-width: 2px;
border-radius: 10px;
font-weight: 900;
font-size: 16px;
color : #545454;
margin-bottom: 25px;
padding : 10px 15px;
text-align: center;
}

.plusMinusQuantity > *{

flex:  auto;

}

.minusButton:hover , .plusButton:hover{
cursor: pointer;

}





.infoBox {
display:flex; 
flex-flow:row wrap;
border-style: solid;
border-width: 0.1px 0 0.1px 0;
border-color : #ebebeb;
color: #666666;
font-size: 14px;
}


.infoBox:hover {
transition-duration: 0.5s;
cursor: pointer;
color: #3595f6;
}


.infoText {
text-align: right;
width: 55%;

}


.plusIcon {
text-align: right;

width: 40%;
}


.infoShow , .commentShow {   
color: #666666;

font-size: 14px;
}

.infoShow {
padding-left : 35px ;
padding-right : 35px;
    text-align: center;
}


.commentBox {

    border-style: solid;
    border-width: 0 0 0.1px 0;
    border-color : #ebebeb;
    color: #666666;

}






